.matchContainer {
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.switchHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  background: var(--main-gradient);
  color: white;
  font-size: 32px;
  font-weight: 600;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.switchItem {
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 0.5;
}

.switchItem:hover {
  opacity: 0.8;
}

.active {
  opacity: 1;
}

.divider {
  width: 2px;
  height: 40px;
  background-color: white;
  margin: 0 20px;
}

.matchContent {
  flex: 1;
  padding: 20px;
}